---
import loadingSvg from '../assets/loading.svg?url';
---

<div class="fixed inset-0 h-full w-full bg-zinc-800/60">
    <div class="fixed inset-0 m-auto h-fit w-1/2">
        <div class="center">
            <img src={loadingSvg} class="w-8 animate-spin" />
        </div>
    </div>
</div>
