---
import './LoadingSpinner.css';
import '../generic/Overlay.css';
import loadingSvg from '../assets/loading.svg?url';
---

<div class="overlay-background">
    <div class="overlay">
        <div class="center">
            <img src={loadingSvg} class="spinner" style={{ width: '2rem' }} />
        </div>
    </div>
</div>
